<div class="row m-3" *ngIf="!isMobile">
    <div class="col-md-12 col-xl-8">
        <ng-container *ngIf="isWhatWeDoInTheShadow.length
            then shoppingCart
            else alert">
        </ng-container>
    </div>
    <div class="col-md-12 col-xl-4">
        <bootstrap-card *ngIf="isWhatWeDoInTheShadow.length">
            <ng-container class="selector-header">
                <div class="card-header">
                    Featured
                </div>
            </ng-container>
            <ng-container class="selector-body">
                <div class="card-body">
                    <h5 class="card-title">You have {{ isWhatWeDoInTheShadow.length }} items in your cart.</h5>
                    <p class="card-text">Subtotal: <strong>${{ totalAmount | number }}</strong></p>
                    <button (click)="navigateTo()" class="btn btn-primary">Proceed to Checkout</button>
                </div>
            </ng-container>
        </bootstrap-card>
    </div>
</div>

<ng-template #shoppingCart>

    <bootstrap-table>
        <ng-container class="header-table">
            <tr class="header-tr">
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <span (click)="emptyBucket()">Clear Shopping Cart</span>
                </th>
            </tr>
            <tr>
                <th *ngFor="let label of th">
                    {{ label }}
                </th>
            </tr>
        </ng-container>

        <ng-container class="body-table">
            <tr *ngFor="let product of pruductsInBucket">
                <td>
                    <div class="img-wrapper">
                        <img src="{{ product.imageUrl }}" alt="">
                    </div>
                </td>
                <td>
                    {{ product.title }}
                </td>
                <td>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button (click)="removeItem(product)" class="btn btn-secondary" type="button">-</button>
                        </div>
                        <input type="text" class="form-control text-center" [placeholder]="product.quantity + ' in cart'" readonly>
                        <div class="input-group-append">
                            <button (click)="addItem(product)" class="btn btn-secondary" type="button">+</button>
                        </div>
                    </div>
                </td>
                <td>
                    ${{ product.price * product.quantity | number }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <strong>${{ totalAmount | number }}</strong>
                </td>
            </tr>
        </ng-container>
    </bootstrap-table>
</ng-template>

<ng-template #alert>
    <bootstrap-alert [className]="'info'" (handleClick)='handleClick($event)'>
        <ng-container class="title">Oops!</ng-container>
        <ng-container class="message">It seems to me you don't have any items in your bucket...</ng-container>
        <ng-container class="label">Shop Now</ng-container>
    </bootstrap-alert>
</ng-template>

<!-- mobile layout -->
<div class="row mt-3" *ngIf="isMobile">
    <div class="col">
        <bootstrap-card>
            <ng-container class="selector-header">
                <div class="card-header">
                    <h5 class="card-title">You have {{ isWhatWeDoInTheShadow.length }} items in your cart.</h5>
                    <p class="card-text">Subtotal: <strong>${{ totalAmount | number }}</strong></p>
                    <button (click)="navigateTo()" class="btn btn-primary">Proceed to Checkout</button>
                </div>
            </ng-container>
            <ng-container class="selector-body">
                <div class="card-body">
                    <bootstrap-table>
                        <ng-container class="header-table">
                            <tr class="header-tr">
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-container>

                        <ng-container class="body-table">

                            <tr *ngFor="let product of pruductsInBucket">

                                <td>
                                    <div class="img-wrapper">
                                        <img src="{{ product.imageUrl }}" alt="">
                                    </div>
                                </td>

                                <td>
                                    <p>
                                        {{ product.title }}
                                    </p>
                                    <p>
                                        <small>${{ product.price | number }} x {{ product.quantity }}</small>
                                    </p>
                                </td>

                                <td>
                                    <small>${{ product.price * product.quantity | number }}</small>
                                </td>

                            </tr>
                        </ng-container>
                    </bootstrap-table>
                </div>
            </ng-container>
        </bootstrap-card>
    </div>
</div>