<div *ngIf="pruductsInBucket?.length" class="row m-3">
    <div class="col-xl-8">
        <bootstrap-table>
            <ng-container class="th">
                <th *ngFor="let label of th">
                    {{ label }}
                </th>
            </ng-container>

            <ng-container class="tr">
                <tr *ngFor="let product of pruductsInBucket">
                    <td>
                        <div class="img-wrapper">
                            <img src="{{ product.imageUrl }}" alt="">
                        </div>
                    </td>
                    <td>
                        {{ product.title }}
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button (click)="removeItem(product)" class="btn btn-secondary" type="button">-</button>
                            </div>
                            <input type="text" class="form-control text-center" [placeholder]="product.count + ' in cart'" readonly>
                            <div class="input-group-append">
                                <button (click)="addItem(product)" class="btn btn-secondary" type="button">+</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        ${{ product.price * product.count | number }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <strong>${{ totalAmount }}</strong>
                    </td>
                </tr>
            </ng-container>
        </bootstrap-table>
    </div>
</div>