<h2 class="m-4">Shipping</h2>
<div class="row m-4">
    <div class="col-7">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, quia a, unde beatae fuga facilis numquam neque cumque impedit nobis atque dolorum cupiditate iusto odit pariatur accusamus, ex eius illo.
    </div>
    <div class="col-5">
        <div class="frame">
            <h3>Order Summary</h3>
            <p>You have {{ itemsInBucket }} items in your shopping cart.</p>
            <bootstrap-table [className]="'borderless'">
                <ng-container class="header-table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-container>
                <ng-container class="body-table">
                    <tr *ngFor="let item of productsInBucket">
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>x</td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            ${{ item.price * item.quantity | number }}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td></td>
                        <td class="total">
                            <strong>${{ totalAmount | number }}</strong>
                        </td>
                    </tr>
                </ng-container>
            </bootstrap-table>
        </div>
    </div>
</div>