<div class="row d-flex justify-content-center m-5">
    <div class="col-xl-8">
        <bootstrap-alert [className]="'success'" (handleClick)='handleClick($event)'>
            <ng-container class="title">
                <h1>Thank you!</h1>
            </ng-container>
            <ng-container class="message">We received your order and will process it within the next 24 hours!</ng-container>
            <ng-container class="label">Back to Store</ng-container>
        </bootstrap-alert>
    </div>
</div>