<div class="wrapper">
    <!-- MODAL -->
    <div *ngIf="isOpen" (click)="closeModal($event)" class="modal-container">
        <div class="row">

            <div class="col-md-6">
                <div class="card-body text-center">
                    <h1 class="card-title">${{ order.bucket.totalAmount | number }}</h1>
                    <p class="card-text">Amount</p>
                    <p class="card-text">Customer <span>{{ order.userInfo.userName }}</span></p>
                    <p class="card-text">Date <span>{{ order.userInfo.timeStamp.seconds * 1000 | date }}</span></p>
                    <p class="card-text">Due <span>TBD</span></p>
                    <p class="card-text">Method <span>Check</span></p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body pr-5">
                    <div class="table-wrap">
                        <bootstrap-table [className]="'borderless'">
                            <ng-container class="header-table">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </ng-container>

                            <ng-container class="body-table">
                                <tr *ngFor="let item of order.bucket.pruductsInBucket">
                                    <td>
                                        <img src="{{item.imageUrl}}" alt="">
                                    </td>
                                    <td>
                                        {{ item.title }}
                                    </td>
                                    <td>
                                        ${{ item.price }}
                                    </td>
                                </tr>
                            </ng-container>
                        </bootstrap-table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END MODAL -->

    <h2>Orders</h2>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col">
            <bootstrap-table [className]="'borderless table-striped'">
                <ng-container class="header-table">
                    <tr>
                        <th *ngFor="let item of th" scope="col">
                            <label class="m-0" (click)="onSort(item)">{{ item.label }}</label>
                            <span class="ml-2" *ngIf="item.isVisible">
                                <fa-icon [icon]="faArrow"></fa-icon>
                            </span>
                        </th>

                    </tr>
                </ng-container>

                <ng-container class="body-table">
                    <tr *ngFor="let item of orders">
                        <td>
                            {{ item.userInfo.userName }}
                        </td>
                        <td>
                            {{ item.userInfo.timeStamp.seconds * 1000 | date }}
                        </td>
                        <td>
                            #<em>{{ item.id }}</em>
                        </td>
                        <td>
                            <button (click)="getOrderDetail(item.id)" class="btn btn-link">view</button>
                        </td>
                    </tr>
                </ng-container>
            </bootstrap-table>
        </div>
    </div>
</div>