<div class="wrapper">
    <h2>Orders</h2>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col">
            <bootstrap-table [className]="'borderless table-striped'">
                <ng-container class="header-table">
                    <tr>
                        <th *ngFor="let item of th" scope="col">
                            <label class="m-0" (click)="onSort(item)">{{ item.label }}</label>
                            <span class="ml-2" *ngIf="item.isVisible">
                                <fa-icon [icon]="faArrow"></fa-icon>
                            </span>
                        </th>

                    </tr>
                </ng-container>

                <ng-container class="body-table">
                    <tr *ngFor="let item of orders">
                        <td>
                            {{ item.userInfo.userName }}
                        </td>
                        <td>
                            {{ item.userInfo.timeStamp.seconds * 1000 | date }}
                        </td>
                        <td>
                            <button class="btn btn-link" [routerLink]="['/admin/orders', item.id]">view</button>
                        </td>
                    </tr>
                </ng-container>
            </bootstrap-table>
        </div>
    </div>
</div>