<!-- <div class="row mt-5">
    <div class="col">
        <bootstrap-form (handleSubmit)="handleSubmit($event)" [formGroup]='formGroup'>
            <bootstrap-input 
                *ngFor="let item of inputs" 
                [formGroup]='formGroup' 
                [name]='item.name' 
                [type]='item.type' 
                [label]='item.label'>
            </bootstrap-input>

            <bootstrap-select *ngFor="let item of selects" 
                [formGroup]='formGroup'
                [options]='product.categories' 
                [optionKey]="'name'" 
                [name]='item.name' 
                [label]='item.label'>
            </bootstrap-select>
        </bootstrap-form>
    </div>
</div> -->
