<div class="row m-5">
    <div class="col-4">
        <bootstrap-list (handleSelectedLi)='handleSelectedLi($event)' [props]='listGroup'></bootstrap-list>
    </div>

    <div class="col-8">

        <div class="row row-cols-md-1 row-cols-xl-2">
            <bootstrap-card *ngFor="let product of products; trackBy: trackProduct">
                <img class="selector-header card-img-top" src={{product.imageUrl}} alt="{{product.title}}">
                <ng-container class="selector-body">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">${{product.price}}</p>

                        <ng-container *ngIf="!product.isOpen
                            then button
                            else counter">
                        </ng-container>

                        <ng-template #button>
                            <button (click)="counterShow(product)" class="btn btn-secondary btn-block">ADD TO CART</button>
                        </ng-template>

                        <ng-template #counter>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button (click)="removeItem(product)" class="btn btn-secondary" type="button">-</button>
                                </div>
                                <input type="text" class="form-control text-center" [placeholder]="product.quantity + ' in cart'" readonly>
                                <div class="input-group-append">
                                    <button (click)="addItem(product)" class="btn btn-secondary" type="button">+</button>
                                </div>
                            </div>
                        </ng-template>

                    </div>
                </ng-container>
            </bootstrap-card>
        </div>
      
        <nav>
            <ul class="pagination justify-content-center m-5">
                <ngbootstrap-pagination
                    [collectionSize]="collectionSize" 
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [lastPageloaded]="lastPageloaded"
                    (click)="getCurrent($event)"
                    [currentLi]='currentLi'
                    (handlePagination)='handlePagination($event)'
                >
                </ngbootstrap-pagination>
            </ul>
        </nav>

    </div>
</div>