<div class="row d-flex justify-content-center mt-5">
    <div class="col-xl-9">
        <button class="btn btn-primary btn-lg mb-5" [routerLink]="['/admin/products/new']">Add Product</button>
        <bootstrap-table [className]="'table-striped'">

            <ng-container class="header-table">
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <input [(ngModel)]="query" class="form-control mr-sm-2" type="search" placeholder="Filter" aria-label="Search">
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let item of th" scope="col">
                        <label class="m-0" (click)="onSort(item)">{{ item.label }}</label>
                        <span class="ml-2" *ngIf="item.isVisible">
                            <fa-icon [icon]="faArrow"></fa-icon>
                        </span>
                    </th>
                </tr>
            </ng-container>
        
            <ng-container class="body-table">
                <tr *ngFor="let item of stock | filter : query">
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        ${{ item.price | number }}
                    </td>
                    <td>
                        <button class="btn btn-link" (click)="navigateTo(item)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="collectionSize">
                        <ngbootstrap-pagination
                            [collectionSize]="collectionSize" 
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [lastPageloaded]="lastPageloaded"
                            (click)="getCurrent($event)"
                            [currentLi]='currentLi'
                            (handlePagination)='handlePagination($event)'>
                        </ngbootstrap-pagination>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
        </bootstrap-table>
    </div>
</div>